dist: trusty
sudo: required

services: docker

language: bash

branches:
  only:
    - master

before_script:
  - env | sort
  - dir="images/${VERSION}-${BENCH}/${VARIANT}"

script:
  - cd "$dir"
  - docker-compose build
  - docker images
  - travis_retry docker-compose up -d && sleep 60
  - docker-compose ps
  - docker-compose logs
  - docker-compose ps "frappedb" | grep "Up" || exit 1
  - docker-compose ps "frappe_app" | grep "Up" || exit 1
  - docker-compose ps "frappe_web" | grep "Up" || exit 1
  - echo 'Wait until sites and apps database installed (9-10 minutes)' && sleep 500
  - docker-compose ps
  - docker-compose logs
  - docker-compose ps "frappedb" | grep "Up"
  - docker-compose ps "frappe_app" | grep "Up"
  - docker-compose ps "frappe_web" | grep "Up"

notifications:
  email: false

env: # Environments
    - VERSION=develop BENCH=master VARIANT=alpine
    - VERSION=develop BENCH=master VARIANT=stretch-slim
    - VERSION=develop BENCH=master VARIANT=stretch
    - VERSION=10.x BENCH=master VARIANT=alpine
    - VERSION=10.x BENCH=master VARIANT=stretch-slim
    - VERSION=10.x BENCH=master VARIANT=stretch
    - VERSION=11.1 BENCH=master VARIANT=alpine
    - VERSION=11.1 BENCH=master VARIANT=stretch-slim
    - VERSION=11.1 BENCH=master VARIANT=stretch
